---
import Astro from "astro";
import Contactlayout from "../layouts/Contactlayout.astro";

// Cast Astro to any and access generator
const astroAny: any = Astro;
const generator = astroAny.generator;

const title = "Contact";
---

<!doctype html>
<html lang="en" class="duration-500">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={generator} />

    <link rel="stylesheet" href="/css/styles.css" />
    <title>MrSuperCraft - {title}</title>

    <link rel="stylesheet" href="/css/styles.css" />

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- Add your additional head elements, stylesheets, or scripts here -->
  </head>
  <body data-page="ContactPage">
    <Contactlayout />
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    ></script>

    <script src="../scripts/app.js"></script>
    <script src="../scripts/smoothScroll.js"></script>
    <script src="../scripts/menuOpen.js"></script>
    <script src="../scripts/navhandle.js"></script>

    <!-- aos scripts -->
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js" defer
    ></script>
    <script src="../scripts/aos.js"></script>
  </body>
</html>
