---
import Layout from "../layouts/layout.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MrSuperCraft</title>
    <!-- Add your additional head elements, stylesheets, or scripts here -->
    <script
      is:inline
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
    ></script>
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <Layout />
    <script src="../scripts/app.js"></script>
    <script src="../scripts/smoothScroll.js"></script>
  </body>
</html>
