---
import Layout from "../layouts/layout.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MrSuperCraft</title>
    <!-- Add your additional head elements, stylesheets, or scripts here -->
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    ></script>
  </head>
  <body>
    <Layout />

    <script src="../scripts/app.js"></script>
    <script src="../scripts/smoothScroll.js"></script>
    <script src="../scripts/menuOpen.js"></script>
  </body>
</html>
