---
import MusicArtistCard from "../components/MusicArtistCard.astro";
---

<div class="flex flex-wrap bg-sky-700 dark:bg-gray-900">
  <div class="w-full sm:w-1/4 p-4">
    <MusicArtistCard />
  </div>
  <div id="text-container" class="w-full sm:w-3/4 p-8 dark:text-white">
    <h1 class="">Your Title</h1>
    <p class="">Your text goes here.</p>
  </div>
</div>
