---
title: "Music Intro";
---

<div>
  <div
    class="flex items-center justify-center h-screen bg-blue-900 text-white dark:bg-gray-800 dark:text-gray-300"
    id="AboutMe"
  >
    <div class="text-center">
      <h1 class="text-4xl font-semibold mb-4">Introduction</h1>
      <p class="text-lg mb-8">
        Hello! I'm MrSuperCraft, a 17-year-old music producer hailing from
        Israel.

        <br />
         Head over to this page in order to see the full story!
      </p>
      <button
        class="text-lg bg-white dark:bg-gray-300 dark:text-gray-800 py-4 px-8 rounded-full transition-transform text-gray-700 hover:bg-slate-600 hover:text-white
      dark:transition-transform dark:hover:bg-slate-600 dark:hover:text-white
       shadow-xl"
      >
        <a href="">Read More</a>
      </button>
    </div>
  </div>
</div>
