---
import PlayerBtns from "./PlayerBtns.astro";
import Wave from "./Wave.astro";
---

<style>
  .close {
    transition: color 0.5s ease;
  }
  #myModal {
    transition: opacity 0.5s ease-in-out;
  }
  .close:hover {
    color: rgb(123, 123, 124);
    cursor: pointer;
  }
  .fade-in {
    opacity: 1 !important;
    pointer-events: auto !important;
  }

  .fade-out {
    opacity: 0 !important;
    pointer-events: none !important;
  }
</style>

<div
  class="audio-player p-4 bg-gray-800 dark:bg-gray-700 rounded-md transition-all duration-300 ease-in-out mb-0"
>
  <img
    src=""
    alt="Cover Art"
    id="cover-art"
    class="mb-4 rounded-lg w-32 h-32 object-cover hover:scale-110 duration-500"
  />
  <div class="">
    <p id="artist-name" class="text-white dark:text-gray-300 text-sm"></p>
    <p id="song-title" class="text-white dark:text-gray-300 font-bold text-lg">
    </p>
  </div>
  <br />
  <audio id="audio" src="" preload="auto"></audio>

  <PlayerBtns />
  <!-- progress slider -->
  <div class="progress-bar mt-4 w-full">
    <input
      type="range"
      id="progress"
      name="progress-slider"
      class="bg-blue-500 dark:bg-blue-400 h-2 w-full transition-all duration-300 ease-in-out"
      value="0"
      min="0"
      max="100"
    />
  </div>

  <div
    id="myModal"
    class="modal hidden fixed inset-0 z-50 overflow-auto bg-black bg-opacity-50 justify-center items-center"
  >
    <!-- Modal content goes here -->
    <div class="modal-content bg-transparent p-4 transition-all duration-500">
      <span
        class="close cursor-pointer text-6xl md:text-5xl sm:text-3xl max-sm:text-2xl font-bold absolute right-4 text-white"
      >
        &times;
      </span>
      <div class="flex flex-col items-center mt-28">
        <img
          src=""
          alt="Cover Art"
          id="modal-cover-art"
          class="mb-4 rounded-lg w-full h-auto max-w-md object-cover shadow-2xl"
        />
        <p
          id="modal-description"
          class="text-gray-100 dark:text-gray-200 text-xl text-center mt-3"
        >
        </p>
        <p class="text-gray-100 dark:text-gray-200 text-xl text-center mt-3">
          Click anywhere to close.
        </p>
      </div>
    </div>
  </div>
</div>
