---

---

<style>
  .close {
    transition: color 0.5s ease;
  }
  .close:hover {
    color: rgb(123, 123, 124);
    cursor: pointer;
  }
</style>

<div
  class="audio-player p-4 bg-gray-800 dark:bg-gray-700 rounded-md transition-all duration-300 ease-in-out"
>
  <img
    src=""
    alt="Cover Art"
    id="cover-art"
    class="mb-4 rounded-lg w-32 h-32 object-cover hover:scale-110 duration-500"
  />
  <div class="ml-4">
    <p id="artist-name" class="text-white dark:text-gray-300 text-sm"></p>
    <p id="song-title" class="text-white dark:text-gray-300 font-bold text-lg">
    </p>
  </div>
  <br />
  <audio id="audio" src="" preload="auto"></audio>
  <div class="controls flex items-center justify-between">
    <button
      id="skip"
      class="bg-gray-600 dark:bg-gray-500 hover:bg-gray-700 dark:hover:bg-gray-600 text-white px-2 sm:px-4 py-1 sm:py-2 rounded-md transition-all duration-300 ease-in-out"
      >Skip</button
    >
    <button
      id="shuffle"
      class="bg-gray-600 dark:bg-gray-500 hover:bg-gray-700 dark:hover:bg-gray-600 text-white px-2 sm:px-4 py-1 sm:py-2 rounded-md ml-2 transition-all duration-300 ease-in-out"
      >Shuffle Off</button
    >
    <div class="flex items-center space-x-4">
      <button
        id="play-pause"
        class="bg-blue-500 dark:bg-blue-400 hover:bg-blue-800 dark:hover:bg-blue-500 text-white px-2 sm:px-4 py-1 sm:py-2 rounded-md transition-all duration-300 ease-in-out"
        >&#9654;</button
      >

      <!-- volume slider -->
      <div class="relative inline-block group">
        <input
          type="range"
          id="volume"
          name="volume-slider"
          class="ml-2 sm:ml-4 w-20 sm:w-32 md:w-48 lg:w-64 xl:w-80 relative"
          value="100"
        />
        <div
          class="absolute hidden group-hover:block bg-gray-200 p-2 rounded-md left-1/2 -mt-16 transform -translate-x-1/2 transition-opacity duration-300 ease-in-out opacity-0 group-hover:opacity-100"
        >
          <!-- Message bubble content with icon -->
          <div id="messageBubble" class="flex items-center">
            <span class="text-gray-800">&#128265;</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- progress slider -->
  <div class="progress-bar mt-4 w-full">
    <input
      type="range"
      id="progress"
      name="progress-slider"
      class="bg-blue-500 dark:bg-blue-400 h-2 w-full transition-all duration-300 ease-in-out"
      value="0"
      min="0"
      max="100"
    />
  </div>

  <div
    id="myModal"
    class="modal hidden fixed inset-0 z-50 overflow-auto bg-black bg-opacity-50 justify-center items-center"
  >
    <!-- Modal content goes here -->
    <div class="modal-content bg-transparent p-4">
      <span
        class="close cursor-pointer text-6xl md:text-5xl sm:text-3xl max-sm:text-2xl font-bold absolute right-4 text-white"
      >
        &times;
      </span>
      <div class="flex flex-col items-center mt-28">
        <img
          src=""
          alt="Cover Art"
          id="modal-cover-art"
          class="mb-4 rounded-lg w-full h-auto max-w-md object-cover shadow-2xl"
        />
        <p
          id="modal-description"
          class="text-gray-100 dark:text-gray-200 text-xl text-center mt-3"
        >
        </p>
        <p class="text-gray-100 dark:text-gray-200 text-xl text-center mt-3">
          Click anywhere to close.
        </p>
      </div>
    </div>
  </div>
</div>
