---
import Buttons from "../components/Buttons.astro";
---

<style>
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
      background-size: 200% 100%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
</style>

<div
  class="bg-gradient-to-l from-blue-900 to-slate-800 transition-all dark:transition-all dark:bg-gradient-to-l dark:from-gray-600 dark:to-slate-900 bg-animate dark:bg-animate"
  style="animation: gradientAnimation 15s infinite"
  id="Discography"
>
  <div
    class="w-full flex items-center justify-center flex-col"
    data-aos="fade-up"
    data-aos-duration="800"
  >
    <h1
      class="text-3xl md:text-4xl lg:text-6xl text-white text-center font-bold mt-32"
      style="text-shadow: 0 2px 6px rgba(0,0,0,0.7)"
    >
      Discography
    </h1>
    <h2
      class="text-2xl md:text-3xl lg:text-4xl text-white text-center font-bold mt-10 mb-20"
      style="text-shadow: 0 2px 6px rgba(0,0,0,0.7)"
    >
      Discover more from your new favorite artist
    </h2>
    <a href="/discography/"
      ><button
        class="mb-10 inline-block text-lg bg-white dark:bg-gray-300 dark:text-gray-800 py-3 px-6 rounded-full dark:duration-500 transition-all duration-500
         text-gray-700 hover:bg-slate-600 hover:text-white dark:transition-all dark:hover:bg-slate-600 dark:hover:text-white shadow-xl"
        >Explore</button
      ></a
    >
    <div class="flex items-center w-4/5 justify-center h-full">
      <div
        class="swiper-container overflow-hidden flex items-center justify-center mb-24"
      >
        <div class="swiper-wrapper">
          <div
            class="swiper-slide bg-gray-800 py-8 rounded-lg shadow-md justify-center"
          >
            <img
              src="../images/coverart/Sunset Boulevard (1).png"
              alt="Image 1"
              class="w-48 h-48 object-cover rounded-md mx-auto"
            />
            <h3 class="mt-4 text-white text-center text-lg font-semibold">
              Against The Tide
            </h3>
            <Buttons />
          </div>
          <div
            class="swiper-slide bg-gray-800 py-8 rounded-lg shadow-md justify-center"
          >
            <img
              src="../images/coverart/snowflakes cover.png"
              alt="Image 1"
              class="w-48 h-48 object-cover rounded-md mx-auto"
            />
            <h3 class="mt-4 text-white text-center text-lg font-semibold">
              snowflakes (ft. Hizashi)
            </h3>
            <Buttons />
          </div>
          <div
            class="swiper-slide bg-gray-800 py-8 rounded-lg shadow-md justify-center"
          >
            <img
              src="../images/coverart/Memories Of You.png"
              alt="Image 1"
              class="w-48 h-48 object-cover rounded-md mx-auto"
            />
            <h3 class="mt-4 text-white text-center text-lg font-semibold">
              Memories Of You
            </h3>
            <Buttons />
          </div>
          <div
            class="swiper-slide bg-gray-800 py-8 rounded-lg shadow-md justify-center"
          >
            <img
              src="../images/coverart/MrSuperCraft Change.png"
              alt="Image 1"
              class="w-48 h-48 object-cover rounded-md mx-auto"
            />
            <h3 class="mt-4 text-white text-center text-lg font-semibold">
              Change
            </h3>
            <Buttons />
          </div>
          <div
            class="swiper-slide bg-gray-800 py-8 rounded-lg shadow-md justify-center"
          >
            <img
              src="../images/coverart/When The Clouds Cry (1).png"
              alt="Image 1"
              class="w-48 h-48 object-cover rounded-md mx-auto"
            />
            <h3 class="mt-4 text-white text-center text-lg font-semibold">
              When The Clouds Cry (ft. Knuni)
            </h3>
            <Buttons />
          </div>
          <div
            class="swiper-slide bg-gray-800 py-8 rounded-lg shadow-md justify-center"
          >
            <img
              src="../images/coverart/SummerStories.png"
              alt="Image 1"
              class="w-48 h-48 object-cover rounded-md mx-auto"
            />
            <h3 class="mt-4 text-white text-center text-lg font-semibold">
              Summer Stories EP
            </h3>
            <Buttons />
          </div>
          <div
            class="swiper-slide bg-gray-800 py-8 rounded-lg shadow-md justify-center"
          >
            <img
              src="../images/coverart/Winter Wonders.png"
              alt="Image 1"
              class="w-48 h-48 object-cover rounded-md mx-auto"
            />
            <h3 class="mt-4 text-white text-center text-lg font-semibold">
              Winter Wonders
            </h3>
            <Buttons />
          </div>
          <div
            class="swiper-slide bg-gray-800 py-8 rounded-lg shadow-md justify-center"
          >
            <img
              src="../images/coverart/feelingsAlbum.jpeg"
              alt="Image 1"
              class="w-48 h-48 object-cover rounded-md mx-auto"
            />
            <h3 class="mt-4 text-white text-center text-lg font-semibold">
              Feelings Album
            </h3>
            <Buttons />
          </div>
          <!-- Add more slides as needed -->
        </div>

        <div
          class="swiper-pagination py-7"
          style=" --swiper-pagination-bullet-size: 17px; "
        >
        </div>

        <div
          class="swiper-button-prev text-white dark:text-white mr-6 mt-24 duration-300 transition-all dark:transition-all dark:duration-300"
        >
        </div>
        <div
          class="swiper-button-next text-white dark:text-white ml-6 mt-24 duration-300 transition-all dark:transition-all dark:duration-300"
        >
        </div>
      </div>
    </div>
  </div>
</div>
