---

---

<div
  class="mt-80 relative overflow-hidden group border-none border-gray-500 rounded-md p-2 transition-transform duration-300 hover:scale-105 shadow-md"
>
  <img
    src="../images/MrSuperCraft Profile.jpeg"
    alt="MrSuperCraft"
    class="w-full h-auto rounded-md"
  />
  <div id="AboutMe" class="absolute bg-black opacity-5 border-none rounded-md">
  </div>
  <h2 class="text-white text-2xl font-bold text-center">MrSuperCraft</h2>
</div>
