---
component: true;
---

<header class="flex z-30 fixed w-full">
  <nav class="bg-gray-900 w-full flex text-center p-4 opacity-95">
    <ul class="text-white flex-row container mx-auto font-bold text-lg">
      <a
        class="px-4 cursor-pointer
        hover:text-zinc-300 hover:duration-500 shadow-lg
        hover:underline hover:ease-in-out"
        >Home</a
      >
      <a
        class="px-4 cursor-pointer
      hover:text-zinc-300 hover:duration-500 shadow-lg
      hover:underline hover:ease-in-out"
        >Biography</a
      >
      <a
        class="px-4 cursor-pointer
      hover:text-zinc-300 hover:duration-500 shadow-lg
      hover:underline hover:ease-in-out"
        >Discography</a
      >
      <a
        class="px-4 cursor-pointer
      hover:text-zinc-300 hover:duration-500 shadow-lg
      hover:underline hover:ease-in-out"
        >Contact</a
      >
    </ul>
  </nav>
</header>
