---

---

<div class="controls flex space-x-4">
  <div
    class="flex items-center justify-center ml-12 md:ml-40 lg:ml-80 space-x-4 order-1 flex-grow"
  >
    <button
      id="skip"
      class="bg-gray-600 dark:bg-gray-500 hover:bg-gray-700 dark:hover:bg-gray-600 text-white px-2 sm:px-4 py-1 sm:py-2 rounded-md transition-all duration-300 ease-in-out"
    >
      <i class="fa-solid fa-step-forward"></i>
    </button>
    <button
      id="play-pause"
      class="bg-blue-500 dark:bg-blue-400 hover:bg-blue-800 dark:hover:bg-blue-500 text-white px-2 sm:px-4 py-1 sm:py-2 rounded-md transition-all duration-300 ease-in-out"
    >
      <i class="fa-solid fa-play"></i>
    </button>
    <button
      id="shuffle"
      class="bg-gray-600 dark:bg-gray-500 hover:bg-gray-700 dark:hover:bg-gray-600 duration-500 dark:duration-500 text-white px-2 sm:px-4 py-1 sm:py-2 rounded-md"
    >
      <i class="fa-solid fa-random"></i>
    </button>
  </div>
  <!-- volume slider -->
  <input
    type="range"
    id="volume"
    name="volume-slider"
    class="w-50 sm:w-32 md:w-48 lg:w-64 xl:w-80 order-2 right-6"
    value="100"
  />
</div>
